<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>j2cmsSSH</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:/applicationContext*.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.j2cms.web.listener.ConfigListener</listener-class>
  </listener>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
    <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
    <init-param>
      <param-name>excludeSuffixs</param-name>
      <param-value>html,htm,js,css,jpg,gif,png,txt,doc,docx,ppt,xls</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AdminLoginValidateFilter</filter-name>
    <filter-class>org.j2cms.web.filter.manage.AdminLoginValidateFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AdminLoginValidateFilter</filter-name>
    <url-pattern>/manage/*</url-pattern>
  </filter-mapping>

  
   <filter-mapping>
    <filter-name>AdminLoginValidateFilter</filter-name>
    <url-pattern>/fckeditor/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ManageArticalFilter</filter-name>
    <filter-class>org.j2cms.web.filter.manage.ManageArticalFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManageArticalFilter</filter-name>
    <url-pattern>/manage/article/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ManageChannelFilter</filter-name>
    <filter-class>org.j2cms.web.filter.manage.ManageChannelFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManageChannelFilter</filter-name>
    <url-pattern>/manage/channel/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ManageCommentFilter</filter-name>
    <filter-class>org.j2cms.web.filter.manage.ManageCommentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManageCommentFilter</filter-name>
    <url-pattern>/manage/comment/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ManageLogFilter</filter-name>
    <filter-class>org.j2cms.web.filter.manage.ManageLogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManageLogFilter</filter-name>
    <url-pattern>/manage/log/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ManageGroupFilter</filter-name>
    <filter-class>org.j2cms.web.filter.manage.ManageGroupFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManageGroupFilter</filter-name>
    <url-pattern>/manage/group/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ManageConfigFilter</filter-name>
    <filter-class>org.j2cms.web.filter.manage.ManageConfigFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManageConfigFilter</filter-name>
    <url-pattern>/manage/config/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ManageUserFilter</filter-name>
    <filter-class>org.j2cms.web.filter.manage.ManageUserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManageUserFilter</filter-name>
    <url-pattern>/manage/user/*</url-pattern>
  </filter-mapping> 

  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.j2cms.web.filter.MyStrutsFilterDispatcher</filter-class>
    <init-param>
      <param-name>actionPackages</param-name>
      <param-value>org.j2cms.web.action</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>img</servlet-name>
    <servlet-class>org.j2cms.web.AuthImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>img</servlet-name>
    <url-pattern>/WEB-INF/jsp/authImg.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConnectorServlet</servlet-name>
    <servlet-class>
			net.fckeditor.connector.ConnectorServlet
		</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectorServlet</servlet-name>
    <url-pattern>/fckeditor/editor/filemanager/connectors/*</url-pattern>
  </servlet-mapping>
  
  
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/content/util/500.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/content/util/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/content/util/404.html</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/content/util/403.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  
</web-app>