@charset "utf-8";
/* CSS Document */
/*菜单导航*/
/*------------------------------------------------top-------------------*/

#top{
	width:1000px;
	height:25px;
	/*
	background:url(../images/top_nav_menu_bg.jpg) 0 0 repeat-x;
	*/
	padding:1px 0 0 0;
	background:url(../images/phone_icon.gif) repeat-x ;
}

#top ul{
	float:left;
	height:25px;
	width:1000px;
	background:url(../images/phone_icon.gif) repeat-x ;
}
#top ul li{
	float:left;
	font-size:0;
	line-height:0;
	LIST-STYLE-TYPE: none;
}
#top ul li a{
	display:block;
	padding:0 22px;
	font:bold 12px/23px Arial, Helvetica, sans-serif;
	/*
	color:#6C6C6C;
	*/
	color:#fff;
}
#top ul li a:hover{
	color:#fff;
	background-color:#BD0000;
	font-size:15px;
}
#top ul li a.hover{
	display:block;
	font:bold  Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	cursor:text;
}
/*------------------------------------------------top--------------------*/


