@charset "utf-8";
/* CSS Document */

#main{
	border: solid 1px #CCCCCC;
}
.left {/*页面左边 #cccccc*/
	margin:2px auto;
	float:left;
	width:266px;
	height:600px;
	z-index:2;
	border:1px solid #CCCCCC;
}

.main1 {/*内部链接页面*/
	float:left;
	width:727px;
	height:auto;
	margin:2px 0 0 2px;
}


/***************** 文章显示页面样式定义 **********************************************************************************/
#ShowNews {
	margin:0;width:100%; height:100%; background:#ffffff; border:1px solid #CCCCCC;
	}

#Pos {
	margin:0;width:auto; height:18px; border-bottom:1px solid #CCCCCC; padding:8px 0px 8px 0px; text-align:left;background: #DEE8F2;font-size: 14px;
}
#Pos a:link {
 text-decoration: none;
 color:#000;
}
#Pos a:visited {
 text-decoration: none;
}
#Pos a:hover {
	color: #ff6600; text-decoration: underline;
}
#Pos a:active {
	color:#60F; text-decoration: none
}

#Content {
	width:100%;
	background-color:#FFFFFF; 
	font-family:"Arial,Helvetica,sans-serif";
}
#Content #Title{ margin-top:15px;text-align:center; font-size:20px; font-weight:bold; color:#222222;}
#Content #info{ margin-top:10px;text-align:center; font-size:12px;color:#333333;}
#Content #NewsContent{ margin:20px; padding:5px 20px 30px 20px;text-align:left; font-size:14px;color:#222222; border-top:1px solid #CCCCCC; line-height:20px;};
/***************** 文章显示页面样式定义 end ********************************************************************************/


/***************** 搜索显示页面样式定义 ************************************************************************************/

#sTitle1{ margin:0;width:auto; height:18px; border-bottom:1px solid #CCCCCC; padding:8px 0px 8px 0px; text-align:left;background:url(../images/title.gif) #DEE8F2 left no-repeat;}
#gjss{ margin:0;width:100%; height:18px;background:#DEE8F2; border-bottom:1px solid #CCCCCC;text-align:left;padding:8px 0 8px 0px; background:url(../images/title.gif) #DEE8F2 left no-repeat;}
#stFont{font-family: "Arial,Helvetica,sans-serif";font-size: 14px; color:#333333; font-weight:600;}

/***************** 高级搜索表单样式定义 *****************/
#HSearch { margin:0;width:240px;height:200px; padding:0 0 4px 0; text-align:left;}
#HSearch select,input{
	vertical-align:middle;
 	height:25px;
 	line-height:25px;  
}
#HSearch .sbutton { font-size:12px;height:30px;}
#HSearch .sSelect { width:144px;height:30px;}
#HSearch .sText {  width:140px;}
#HSearch span{ font-size:12px; color:#333333; height:22px; width:80px; padding:15px 0 5px 10px; text-align:right;}
#HSearch .sForm{ height:200px; width:240px; text-align:center;}

/***************** 文章列表显示样式定义 *****************/
#News {margin:0;width:700px;padding:10px 0px 10px; text-align:left;}
#News ul {margin:0; padding:8px 0 8px;font-size:14px;color:#333333;text-decoration:none; text-align:left;}
#News li { list-style-type:none; padding:4px 0px 4px 10px; height:20px}
#News span{padding:0 0 0 6px; font-size:12px;color:#1f3a87;} 	/*时间显示样式*/
#News li img{border-style:none;} 


/**************** 信息提示字体样式定义 *****************/
#F3{font-family: "Arial,Helvetica,sans-serif";font-size: 14px; color:#bc2931;}
/**************** 线条样式定义 **********************/
#Line { padding-left:10px; height:1px;}
#L2{ margin: 5px 10px 5px 10px;width:96%; height:1px; border-bottom:1px dotted #CCCCCC;}

/**************** 文章链接样式定义 ************************/
#News A:link { COLOR: #333333; TEXT-DECORATION: none; font-size: 14px;}
#News A:visited {COLOR: #83006f; TEXT-DECORATION: none;font-size: 14px;}
#News A:active {COLOR:  #bc2931; TEXT-DECORATION: none;  font-size: 14px;}
#News A:hover {COLOR: #bc2931; TEXT-DECORATION: underline;  font-size: 14px;}
/***************** 搜索显示页面样式定义  end********************************************************************************/
.red_normal{color:#F00; font-weight:normal;}

